main-body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f0f4f8;
  padding: 20px;

}


h1 {
    color: #1a73e8;
}


a {
    color: #1a73e8;
    text-decoration: none;
    margin-right: 10px;
}
a:hover {
    text-decoration: underline;
}
